.place__like-button {
  min-width: 22px;
  height: 19px;
  align-self: center;
  border: none;
  background-color: none;
  cursor: pointer;
  padding: 0;
  background: url("../../../images/like.svg");
}

.place__like-button:hover {
  opacity: .5;
}